*{

    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: row-reverse;
    max-width: 100vw;
    margin-left: 5px;

    
}

.container1{
    display: flex;
    flex-direction: column;
   
    width: 29vw;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(240, 240, 240, 0.445);
    
    
}

.container2{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 20px 0;
}

.navbar1{
    display: flex;
    flex-wrap: wrap;
    
    
}

.navbar2{
    flex-direction: column;
}

.navbar img{
    max-width: 90%;
    max-height: 100%;
    border: 3px solid rgb(102, 101, 101);
    padding: 0 0 0 0 !important;

}

.listanavbar{
    display: flex;
    flex-direction: column !important;
    padding-top: 60%;
    text-align: center;
    
    
}

.direccion p{
    font-size: 18px;
}

.direccion{
    text-align: left;
    font-size: 15px;
    font-weight: 400;
}

.resumen{
    
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    
    padding: 10% 5% 10% 5%;

}


.trabajo_educacion{
    display: block;
    height: 100vh;
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right:5% ;
    padding-bottom: 5%;


}

.trabajo_educacion p{
    font-size: 18px;
    text-align: justify;
   
}

.trabajo_educacion h3{
    padding-top: 3%;
}

footer{
    display: flex;
    background-color: azure;
    height: 4vh;
    justify-content: center;
    font-size: 10px;
   
    
}

