main{
    max-width: max-content;
    margin: auto;
}

.navbar-item{
    justify-content: flex-end;
}

.fondo{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 80px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    opacity: 50%;
    height: 80vh;
}


.fondo .presentacion{
    display: flex;
    /* border: solid 1px red; */
   

}
.fondo p{
    text-align: center;
    color: black;
    font-size: 24px;
       
       
}

.info{
    padding: 1em;
    margin: 1em;
    
}



.lugar{
    /* border: solid 1px red; */
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
       
}

.colegio{
    max-width: 33%;
    flex: 10 0 33.3%;
}


.descripcion{
    /* padding-right: 150px; */
    text-align: start;
    max-width: 66%;
}