.navbar-item{
    justify-content: flex-end;
}

.fondo{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 80px;
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    opacity: 50%;
    height: 80vh;
}


.fondo .presentacion{
    display: flex;
    border: solid 1px red;
   

}
.fondo p{
    text-align: center;
    color: black;
    font-size: 24px;
    
   
    
    
}